@charset "utf-8";

@font-face {
	font-family: 'BinggraeMelona';
	font-style: normal;
	font-weight: 400;
	src: local('¡Ø'),
        url('../font/BinggraeMelona.woff2') format('woff2'), 
        url('../font/BinggraeMelona.woff') format('woff'),
        url('../font/BinggraeMelona.ttf') format('truetype'),
        url('../font/BinggraeMelona.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'BinggraeMelona';
	font-style: normal;
	font-weight: 700;
	src: local('¡Ø'),
        url('../font/BinggraeMelona-Bold.woff2') format('woff2'), 
        url('../font/BinggraeMelona-Bold.woff') format('woff'),
        url('../font/BinggraeMelona-Bold.ttf') format('truetype'),
        url('../font/BinggraeMelona-Bold.eot') format('embedded-opentype');
}