@charset "utf-8";

@font-face {
	font-family: 'KDB';
	font-style: normal;
	font-weight: 300;  
	src: url(../font/KDBRPro.eot);
	src: local('¡Ø'),
	url(../font/KDBRPro.woff2) format('woff2'),
	url(../font/KDBRPro.woff) format('woff'),
	url(../font/KDBRPro.ttf) format('truetype');
}

@font-face {
	font-family: 'KDB';
	font-style: normal;
	font-weight: 400;
	src: url(../font/KDBMPro.eot);
	src: local('¡Ø'),
	url(../font/KDBMPro.woff2) format('woff2'),
	url(../font/KDBMPro.woff) format('woff'),
	url(../font/KDBMPro.ttf) format('truetype');
}
@font-face {
	font-family: 'KDB';
	font-style: normal;
	font-weight: 500;
	src: url(../font/KDBBPro.eot);
	src: local('¡Ø'),
	url(../font/KDBBPro.woff2) format('woff2'),
	url(../font/KDBBPro.woff) format('woff'),
	url(../font/KDBBPro.ttf) format('truetype');
}