@charset "utf-8";

/*
 * Nanum Square Round (Korean)
 */

@font-face {
 font-family: 'NanumSquareRound';
 font-weight: 100;
 src: url(../font/NanumSquareRoundL.eot);
 src: url(../font/NanumSquareRoundL.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRoundL.woff) format('woff'),
      url(../font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumSquareRoundR.eot);
  src: url(../font/NanumSquareRoundR.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumSquareRoundR.woff) format('woff'),
       url(../font/NanumSquareRoundR.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareRound';
 font-weight: 700;
 src: url(../font/NanumSquareRoundB.eot);
 src: url(../font/NanumSquareRoundB.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRoundB.woff) format('woff'),
      url(../font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareRound';
 font-weight: 900;
 src: url(../font/NanumSquareRoundEB.eot);
 src: url(../font/NanumSquareRoundEB.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareRoundEB.woff) format('woff'),
      url(../font/NanumSquareRoundEB.ttf) format('truetype');
}