@charset "utf-8";
 
@font-face {
	font-family: 'KOMACON';
	font-style: normal;
	font-weight: 400;
	src: url(../font/KOMACON.eot);
	src: local('¡Ø'),
	url(../font/KOMACON.woff2) format('woff2'),
	url(../font/KOMACON.woff) format('woff'),
	url(../font/KOMACON.ttf) format('truetype');
}