@charset "utf-8";

@font-face {
	font-family: 'LMDream';
	font-style: normal;
	font-weight: 300;
	src: url(../font/LotteMartDreamLight.eot);
	src: local('¡Ø'),	
	url(../font/LotteMartDreamLight.woff2) format('woff2'),
	url(../font/LotteMartDreamLight.woff) format('woff'),
	url(../font/LotteMartDreamLight.ttf) format('truetype');
}

@font-face {
	font-family: 'LMDream';
	font-style: normal;
	font-weight: 400;
	src: url(../font/LotteMartDreamMedium.eot);
	src: local('¡Ø'),
	url(../font/LotteMartDreamMedium.woff2) format('woff2'),
	url(../font/LotteMartDreamMedium.woff) format('woff'),
	url(../font/LotteMartDreamMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'LMDream';
	font-style: normal;
	font-weight: 500;
	src: url(../font/LotteMartDreamBold.eot);
	src: local('¡Ø'),
	url(../font/LotteMartDreamBold.woff2) format('woff2'),
	url(../font/LotteMartDreamBold.woff) format('woff'),
	url(../font/LotteMartDreamBold.ttf) format('truetype');
}